In [1]:
# Ufuncs: Index Preservation
import numpy as np
import pandas as pd

rng = np.random.RandomState(42)
series = pd.Series(rng.randint(0, 10, 4))
series

/home/rajesh/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)
/home/rajesh/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)

0    6
1    3
2    7
3    4
dtype: int64

In [3]:
df = pd.DataFrame(rng.randint(0, 10, (3, 4)), columns = ['A', 'B', 'C', 'D'])
df

   A  B  C  D
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4

In [4]:
# apply a NumPy ufunc on Series
np.exp(series)

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64

In [5]:
# apply a NumPy ufunc on DataFrame
np.sin(df * (np.pi / 4))

          A             B         C             D
0 -1.000000  7.071068e-01  1.000000 -1.000000e+00
1 -0.707107  1.224647e-16  0.707107 -7.071068e-01
2 -0.707107  1.000000e+00 -0.707107  1.224647e-16

In [8]:
# UFuncs: Index Alignment
area = pd.Series({'Alaska' : 1723337, 'Texas' : 695662, 'California' : 423967}, name = 'area')
population = pd.Series({'California' : 38332521, 'Texas' : 26448193, 'New York' : 19651127}, name = 'population')
pop_density = population / area
pop_density

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

In [14]:
# Index alignment in DataFrame
A = pd.DataFrame(rng.randint(0, 20, (2, 2)), columns = list('AB'))
A

    A   B
0   0  11
1  11  16

In [16]:
B = pd.DataFrame(rng.randint(0, 10, (3, 3)), columns = list('BAC'))
B

   B  A  C
0  9  2  6
1  3  8  2
2  4  2  6

In [17]:
# Adding DataFrame A & B
A + B

      A     B   C
0   2.0  20.0 NaN
1  19.0  19.0 NaN
2   NaN   NaN NaN

In [21]:
fill = A.stack().mean()
A.add(B, fill_value = fill)

      A     B     C
0   2.0  20.0  15.5
1  19.0  19.0  11.5
2  11.5  13.5  15.5

In [23]:
# Ufuncs: Operations Between DataFrame and Series
# Operations between a DataFrame and a Series are similar to operations between a two-dimensional and one-dimensional NumPy array.
A = rng.randint(10, size = (3, 4))
A

array([[3, 6, 7, 2],
       [0, 3, 1, 7],
       [3, 1, 5, 5]])

In [25]:
A - A[0]

array([[ 0,  0,  0,  0],
       [-3, -3, -6,  5],
       [ 0, -5, -2,  3]])

In [26]:
# Subtraction between a two-dimensional array and one of its rows is applied row-wise
df = pd.DataFrame(A, columns = list('PQRS'))
print(df)

   P  Q  R  S
0  3  6  7  2
1  0  3  1  7
2  3  1  5  5

In [29]:
df - df.iloc[0]

   P  Q  R  S
0  0  0  0  0
1 -3 -3 -6  5
2  0 -5 -2  3

In [30]:
# Subtraction between a two-dimensional array and one of its coulumn
df.sub(df['P'], axis = 0)

   P  Q  R  S
0  0  3  4 -1
1  0  3  1  7
2  0 -2  2  2