In [1]:
import numpy as np
import pandas as pd

In [3]:
# Recall: Concatenation of NumPy Arrays
x = [1, 2, 3]
y = [4, 5, 6]
z = [7, 8, 9]
concat = np.concatenate([x, y, z])
concat

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [9]:
# concatenate with axis
x = [[1, 2], [3, 4]]
np.concatenate([x, x], axis = 1)

array([[1, 2, 1, 2],
       [3, 4, 3, 4]])

### Simple Concatenation with pd.concat
    Pandas has a function pd.concat(), which has a similar syntax to np.concatenate but contains a number of options.

In [10]:
# Simple concatenation of Series
series1 = pd.Series(['A', 'B', 'C'], index = [1, 2, 3])
series2 = pd.Series(['D', 'E', 'F'], index = [4, 5, 6])
pd.concat([series1, series2])

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [24]:
# Simple concatenation of DataFrame objects in row-wise
df1 = pd.DataFrame([1, 2, 3, 4])
df2 = pd.DataFrame([5, 6, 7, 8])
pd.concat([df1, df2])

   0
0  1
1  2
2  3
3  4
0  5
1  6
2  7
3  8

In [25]:
# Simple concatenation of DataFrame objects in column-wise
pd.concat([df1, df2], axis = 1)

   0  0
0  1  5
1  2  6
2  3  7
3  4  8

### Ignoring the index
    Sometimes the index itself does not matter, and you would prefer it to simply be ignored.
    You can specify this option using the ignore_index flag. With this set to True , the concatenation will create a new integer index.

In [26]:
# Ignoring the index
pd.concat([df1, df2], ignore_index = True, axis = 1)

   0  1
0  1  5
1  2  6
2  3  7
3  4  8

### Adding MultiIndex keys

    Another alternative is to use the keys option to specify a label for the data sources;
    The result will be a hierarchically indexed series containing the data:

In [29]:
pd.concat([df1, df2], keys = ['x', 'y'], axis = 0)

     0
x 0  1
  1  2
  2  3
  3  4
y 0  5
  1  6
  2  7
  3  8

In [34]:
# Concatenation with joins
df3 = pd.DataFrame([['A1', 'B1', 'C1'], ['A2', 'B2', 'C2']], columns = list('ABC'))
df4 = pd.DataFrame([['B3', 'C3', 'D3'], ['B4', 'C4', 'D4']], columns = list('BCD'))
pd.concat([df3, df4], join = 'inner')

/home/rajesh/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

     A   B   C    D
0   A1  B1  C1  NaN
1   A2  B2  C2  NaN
0  NaN  B3  C3   D3
1  NaN  B4  C4   D4

### The append() method
    
    Because direct array concatenation is so common, Series and DataFrame objects have an append method that can accomplish the same thing in fewer keystrokes.

In [37]:
df3.append(df4)

/home/rajesh/.local/lib/python3.6/site-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

     A   B   C    D
0   A1  B1  C1  NaN
1   A2  B2  C2  NaN
0  NaN  B3  C3   D3
1  NaN  B4  C4   D4