In [1]:
import numpy as np
import pandas as pd

In [3]:
# Recall: Concatenation of NumPy Arrays
x = [1, 2, 3]
y = [4, 5, 6]
z = [7, 8, 9]
concat = np.concatenate([x, y, z])
concat

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [9]:
# concatenate with axis
x = [[1, 2], [3, 4]]
np.concatenate([x, x], axis = 1)

array([[1, 2, 1, 2],
       [3, 4, 3, 4]])

### Simple Concatenation with pd.concat
    Pandas has a function pd.concat(), which has a similar syntax to np.concatenate but contains a number of options.

In [10]:
# Simple concatenation of Series
series1 = pd.Series(['A', 'B', 'C'], index = [1, 2, 3])
series2 = pd.Series(['D', 'E', 'F'], index = [4, 5, 6])
pd.concat([series1, series2])

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [18]:
# Simple concatenation of DataFrame objects in row-wise
df1 = pd.DataFrame([1, 2])
df2 = pd.DataFrame([3, 4])
pd.concat([df1, df2])

   0
0  1
1  2
0  3
1  4

In [21]:
# Simple concatenation of DataFrame objects in column-wise
pd.concat([df1, df2], axis = 1)

   0  0
0  1  3
1  2  4