In [156]:
# Importing the libraries
import pandas as pd
import datetime
import numpy as np
from datetime import time
from dateutil.relativedelta import relativedelta

In [157]:
# Reading the csv file
df0 = pd.read_csv("/home/rajesh/Documents/Motorq/25-June-2019/events_feed/event_feed(dedf6ca3-baf2-3b5c-abec-00696feb06bb) - validated.csv")
df0.head()

,deviceId,tripStart_timestamp,tripStop_timestamp,tripStart_location/lat,tripStart_location/lon,tripStop_location/lat,tripStop_location/lon
0,dedf6ca3-baf2-3b5c-abec-00696feb06bb,2019-06-20T14:19:03.000Z,2019-06-20T14:22:03.000Z,41.933873,-88.152189,41.938845,-88.138448
1,dedf6ca3-baf2-3b5c-abec-00696feb06bb,2019-06-20T15:24:40.000Z,2019-06-20T15:31:20.000Z,41.935551,-88.131921,41.932081,-88.155789
2,dedf6ca3-baf2-3b5c-abec-00696feb06bb,2019-06-20T18:22:52.000Z,2019-06-20T19:38:12.000Z,41.931984,-88.155997,41.936940,-88.078054
3,dedf6ca3-baf2-3b5c-abec-00696feb06bb,2019-06-20T19:47:12.000Z,2019-06-20T19:58:36.000Z,41.937599,-88.084403,41.932148,-88.155809
4,dedf6ca3-baf2-3b5c-abec-00696feb06bb,2019-06-20T23:26:13.000Z,2019-06-20T23:36:55.000Z,41.931110,-88.156926,41.932119,-88.155723

In [158]:
# Replacing the strings
m_tripStart_timestamp = df0["tripStart_timestamp"].str.replace("T", " ").str.replace("Z", "")
m_tripStop_timestamp = df0["tripStop_timestamp"].str.replace("T", " ").str.replace("Z", "")

In [159]:
# Changing the datatype
m_tripStart_timestamp = pd.to_datetime(m_tripStart_timestamp)
m_tripStop_timestamp = pd.to_datetime(m_tripStop_timestamp)

In [160]:
# Finding time difference between m_tripStop_timestamp, m_tripStart_timestamp
time_diff = m_tripStop_timestamp - m_tripStart_timestamp

In [161]:
# Time difference in minutes
df0["time_diff_in_mins"] = round(time_diff / np.timedelta64(1, 'm'), 2)
df0.head()

,deviceId,tripStart_timestamp,tripStop_timestamp,tripStart_location/lat,tripStart_location/lon,tripStop_location/lat,tripStop_location/lon,time_diff_in_mins
0,dedf6ca3-baf2-3b5c-abec-00696feb06bb,2019-06-20T14:19:03.000Z,2019-06-20T14:22:03.000Z,41.933873,-88.152189,41.938845,-88.138448,3.00
1,dedf6ca3-baf2-3b5c-abec-00696feb06bb,2019-06-20T15:24:40.000Z,2019-06-20T15:31:20.000Z,41.935551,-88.131921,41.932081,-88.155789,6.67
2,dedf6ca3-baf2-3b5c-abec-00696feb06bb,2019-06-20T18:22:52.000Z,2019-06-20T19:38:12.000Z,41.931984,-88.155997,41.936940,-88.078054,75.33
3,dedf6ca3-baf2-3b5c-abec-00696feb06bb,2019-06-20T19:47:12.000Z,2019-06-20T19:58:36.000Z,41.937599,-88.084403,41.932148,-88.155809,11.40
4,dedf6ca3-baf2-3b5c-abec-00696feb06bb,2019-06-20T23:26:13.000Z,2019-06-20T23:36:55.000Z,41.931110,-88.156926,41.932119,-88.155723,10.70

In [162]:
# Removing nan values from the df0
df1 = df0.dropna()

# Checking tripStart is equal to tripStop or not
if len(df0["tripStart_timestamp"]) == len(df1["tripStop_timestamp"]):
    print("All the trips have equal number of tripStart & tripStop")
else:
    print("tripStart & tripStop are not equal")

All the trips have equal number of tripStart & tripStop

In [163]:
# Examine the duplicate rows
df0.loc[df0.duplicated(), :]

Empty DataFrame
Columns: [deviceId, tripStart_timestamp, tripStop_timestamp, tripStart_location/lat, tripStart_location/lon, tripStop_location/lat, tripStop_location/lon, time_diff_in_mins]
Index: []

In [165]:
# Exporting the df0 as csv file
df0.to_csv("/home/rajesh/Documents/Motorq/25-June-2019/events_feed/event_feed(dedf6ca3-baf2-3b5c-abec-00696feb06bb) - validated01.csv", index=False)